body{
	background-color:#f0f0f0;
}

#Options{
	
	position:absolute;
	display:inline-block;
	background-color:red;
	height:10%;
	width:100%;
}

.Option{
	
	float:left;
	padding:0 20px 0 20px;
	border-right:2px solid;
	text-align:center;
	max-height:100%;
}
img{
        max-height:100%;
        max-width:100%;
}
#Image{

	float:right;
        height:30px;
        width: 80px;
	padding:1.5% 1.5% 0 0;
}

#Settings{

	position:fixed;
	display:none;
	top:11.5%;
	right:1%;
	background-color:white;
	height:8%;
	width:10%;
}

.SettingsOptions{
	
	padding:5% 0 0 5%;
	border-bottom:1px solid black;
}