html, body{

	height:100%;
	margin:0;
	padding:0;
}

#Image1{

	position:absolute;
	padding:0;
	display:block;
	margin:0 auto;
	max-height:100%;
	width:100%;
}

#ButtonSpan{

	position:absolute;
	top:80%;
	width:100%;
	text-align:center;
}


.Button{

	background-color:grey;
	font-size:35px;
	border-radius:15px;
	opacity:0.5;
}

#Login{

	display:none;
	position:absolute;
	margin:15% 0% 0% 37.5%;
	height:55%;
	width:25%;
	background-color:white;
	border-radius:15px;
	opacity:1;
}

#Login form{

	position:relative;
	text-align:center;
	top:0%;
	font-size:20px;
}

.LoginField{

	height:1em;
	width:8em;
	font-size:1em;
}


.SubmitButton{

	height:2em;
	width:4em;
	border:none;
	font-size:20px;
	border-radius:10px;
	text-align:center;
}

.Register form h2{

	font-family:cursive;
	text-align:center;
}

#Signup{

	display:none;
	position:absolute;
	margin:10% 0% 0% 35%;
	height:70%;
	width:28%;
	background-color:white;
	border-radius:15px;
	opacity:1;
}

#Signup form{

	position:relative;
	top:0%;
	font-size:20px;
}


#SiteName{

	position:absolute;
	top:10%;
	width:100%;
	font-family:cursive;
	font-size:50px;
	text-align:center;
}

#NoLogin{

	position:absolute;
	top:90%;
	width:100%;
	text-align:center;
	opacity:1;
}

#NoLog{

	font-size:1em;
}

.Rows{
	display:inline-block;
	padding:0 0 0 10px;
}


.NameRow{
	float:left;
}

.SignupInput{
	
	display:block;
	height:1.5em;
	width:15.2em;
	font-size:1em;
	margin:0 0 0 20px;
}

.Name{
	
	float:left;
	margin:0 0 0 10px;
	height:1.5em;
	width:7.2em;
	font-size:1em;
}